<!DOCTYPE html>
<html>
<title>Search Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="header.css">
<body>

<!-- header tab nav -->
<iframe src="test.html"></iframe>

<div class="w3-display-container" style="margin-bottom:50px">
  <!-- <img src="images/laskyline.jpg" style="width:100%"> -->
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
  <h2><strong><%-locals.usercity%></strong></h2>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <h2><%-locals.usercity %></h2>
    <!-- <p>  API here to get info about location</p> -->

     <%var desc = 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1&titles=' + locals.usercity%> 
    
      
      <%function getJSON(url) { %>
      <%  var resp ; %>
     <% var xmlHttp ; %>

      <%  resp  = '' ;%>
      <%  xmlHttp = new XMLHttpRequest();%>

    <%    if(xmlHttp != null)    {%>
   <%         xmlHttp.open( "GET", url, false );%>
    <%        xmlHttp.send( null );%>
    <%        resp = xmlHttp.responseText;%>
    <%    }%>

     <%   return resp ;%>
   <% } %>

     <% var wikijson = getJSON(desc);%>
    <%  var wiki = JSON.parse(wikijson); %>

      <%console.log(wikijson);%>

      // $extract = current((array)wiki->query->pages)->extract;


    


    <!-- <%-desc += locals.usercity %> -->

 

  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <!-- <img src="images/laskyline.jpg" style="width:100%"> -->
    <h2>Travel Attractions</h2>
    <!-- <p> attraction img and pull description here and then this div redirects to hanna's map pg</p> -->

    <table>

    <%var latlong = []; %>
    <% var obj = JSON.parse(locals.blob) %>

    <%for(var i = 0; i < obj.results.length; i++) { %>
      <%var name = obj.results[i].name%>
      <%var geolat = obj.results[i].geometry.location.lat%>
      <%var geolng = obj.results[i].geometry.location.lng%>
      <%var ll = []; %>
      <%ll.push(name); %>
      <%ll.push(geolat); %>
      <%ll.push(geolng); %>
      <%latlong.push(ll); %>

      <%var photos = obj.results[i].photos %>
      <%var pref = photos[0].photo_reference%>
      <%var picjson = 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+pref+'&key=AIzaSyDP7TNhPwMtTB0BbdBz7A6doEkGoIw__v4'%>



<<<<<<< HEAD
      <%var pic = JSON.stringify(photos[0].html_attributions[0])%>
      <%var picsub = pic.substring(11)%>
=======
      <%var pref = photos[0].photo_reference%>

      <!--<%var pic = JSON.stringify(photos[0].photo_reference[0])%>-->
      <!--<%var picsub = pic.substring(11)%> -->

      <%var picjson = 'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+ pref +'&key=AIzaSyDP7TNhPwMtTB0BbdBz7A6doEkGoIw__v4' %>

<!--       <img src="<%=picjson%>">
 -->

>>>>>>> e1989eef54c0bb07c8e66b91f75eeb70349a4507

    <tr>
     <!--  <td><%=photos.length%></td> -->
      <td><img src="<%=picjson%>"></td>  
      <td><%=name%></td>
      <!-- <td><%=photos%></td> -->
    </tr>

   <% } %>

    <% console.log("object length", obj.length);%>


    <!-- <% console.log("object ", obj);%> -->

  </div>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
  
  //   function clickHandler() {
  //     console.log("clicked")
  //   }

  // document.querySelectorAll('td').forEach(e => e.addEventListener("click", clickHandler));

  $("td").on("click", function(){
   
    var arr = [];
    arr.push($(this).html());
    sessionStorage.setItem('curr', JSON.stringify(arr));

    sessionStorage.setItem('doublearray', JSON.stringify('<%=latlong%>'));

    console.log("json string latlong",JSON.stringify('<%=latlong%>'));
    /*if (sessionStorage.length == 0) {
      sessionStorage.setItem('array', JSON.stringify(arr));
    } else {
      var old = JSON.parse(sessionStorage.getItem('array'));
      var result = [];

      for(var i in old)
          result.push(old[i]);

      result.push($(this).html());
      sessionStorage.setItem('array', JSON.stringify(result));
      console.log(JSON.stringify(result));
    }*/

  window.location.href = "/maps";

  });

</script>

</body>
</html>